<% include head.ejs%>

  <img src="assets/pics/logoTest.png" height = "250" width="1100" className ='logo'></img>

    <div class="row">
        <!-- LOCAL INFORMATION  -->
        <div class="col-sm-4">
            <div id ="imageHolder" class="well">

              <div class="image-upload">
                <label for="file-input">
                    <img id="profile-pic" src=<%= user.imageurl %> height="320px" width="100%"/>
                    <div id="imageMssg">Update Profile Picture</div>
                </label>
                <input id="file-input" type="file" accept="image/gif, image/jpeg, image/png" />
            </div>
                 <script>
                   var picture = document.getElementById("file-input");
                   picture.onchange = function () {
                    var files = picture.files;
                    if(!!files[0]) {
                      console.log('Hello, julia', files[0]);
                      var source = document.getElementById("profile-pic");
                      var blob = URL.createObjectURL(files[0]);
                      console.log(blob);
                      source.src = blob;
                    }
                   }
                  picture.onchange();
                </script>

                 <script>
                   var picture = document.getElementById("file-input");
                   picture.onchange = function () {
                    var files = picture.files;
                    if(!!files[0]) {
                      var source = document.getElementById("profile-pic");
                      var blob = URL.createObjectURL(files[0]);
                      source.src = blob;
                    }
                   }
                  picture.onchange();
                </script>
                <% if (user.email) { %>
                <p>
<!--                     <strong>email</strong>: <%= user.email %> -->
                      <div id="profileBtns">
                        <a href="/" class="btn btn-default btn-sm" style="background-color: #00cc66" >New Game</a>
                        <a href="/logout" class="btn btn-default btn-sm" style="background-color: #00cc66">Logout</a>
                      </div>
                </p>

                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <div class="col-sm-8">
          <div id="profileStats" class="well">
            <div id="profileDisplayName"> <%= user.display %>

              <span id="profileRank">RANK:  </span>
              <span id="profileRankMarkers"> <%= stats.rankObj.rank %> <% for(var i = 0; i < stats.rankObj.rankNum; i++) {%> &#9672 <% } %> </span></div>
              <span id="profLevelScore">level
                <span id="profTopScore">top score</span>
              </span>

            <div id="stats1">
<!-- This is the object that you have access to  stats = {stars: stars, scoresMean: scoresMean, rank: rank}   just use -->

                 <div id="profileLevelScores" >
                  <div class="levels">
                    Super Beginner: <% for(var i = 0; i < stats.stars['1']; i++) {%> &#9733 <% } %>
                    <span class="profileScores"> <%= stats.scoresMean[0] %> </span>
                  </div>
                  <div class="levels">
                    Beginner: <% for(var i = 0; i < stats.stars['2']; i++) {%> &#9733 <% } %>
                    <span class="profileScores"> <%= stats.scoresMean[1]; %> </span>
                  </div>
                  <div class="levels">
                    Intermediate: <% for(var i = 0; i < stats.stars['3']; i++) {%> &#9733 <% } %>
                    <span class="profileScores"> <%= stats.scoresMean[2];  %> </span>
                  </div>
                  <div class="levels">
                    Advanced: <% for(var i = 0; i < stats.stars['4']; i++) {%> &#9733 <% } %>
                    <span class="profileScores"> <%= stats.scoresMean[3] %> </span>
                  </div>
                  <div class="levels">
                    Rockstar: <% for(var i = 0; i < stats.stars['5']; i++) {%> &#9733 <% } %>
                    <span class="profileScores"> <%= stats.scoresMean[4] %> </span>
                  </div>
                 </div>


<!--                 <div class="scores"> 233 </div>
                <div class="scores"> 10000 </div>
                <div class="scores"> 443222 </div>
                <div class="scores"> 32323 </div>
                <div class="scores">4200000000</div> -->

            </div>

          </div>

        </div>



<% include foot.ejs%>

